v\:group,v\:rect,v\:imagedata,v\:oval,v\:line,v\:polyline,v\:stroke,v\:textbox { display:inline-block;background:transparent }
.GooFlow{
	/* background: #fff url(img/gooflow_bg.png) repeat-x; */
	border: #ddd 2px solid;
	border-radius: 2px;
	font: 12px Arial, Helvetica, sans-serif;
	-moz-user-select:none;
	-webkit-user-select:none;
}
.GooFlow_head{clear:both;height:22px;padding:1px}
.GooFlow_head label{
	font-weight:bold; text-indent:18px;display:block inline;height:14px;margin:2px;border:#B7C8D7 1px solid;border-right:#E9F4FA 1px solid;border-bottom:#E9F4FA 1px solid;padding:1px;width:160px;text-align:center;
	background: url(img/gooflow_icon.png) no-repeat -137px 1px;float:left;color:#15428B;-moz-border-radius:3px; -webkit-border-radius:3px;border-radius:3px;overflow:hidden;
}
.GooFlow_head span{float:left;height:22px;width:0px;overflow:hidden;border-left:#9AC6FF 1px solid;border-right:#FFFFFF 1px solid;margin:0px 1px;}
.GooFlow_head_btn{display:block;border:0px;height:18px;width:18px;cursor:default;padding:2px;margin:0px 1px;float:left;outline:none;blr:expression(this.onFocus=this.blur());}
.GooFlow_head_btn b{display:inline-block;overflow:hidden;width:18px;height:18px;border:0px;}
.GooFlow_head_btn:hover{
	-moz-border-radius:2px; -webkit-border-radius:2px;border-radius:2px;border:#8E9DA6 1px solid;
	padding:0px;border:#8B7654 1px solid; background:url(img/gooflow_btn_bg.png) repeat-x;width:20px;height:20px;
}
.GooFlow_head_btn:hover b{border:#F6A32D 1px solid;border-top-color:#B1905D;margin:0px;-moz-border-radius:1px; -webkit-border-radius:1px;border-radius:1px;}
.GooFlow_tool{
	/* border: #bbb 1px solid; */
	float:left;
	margin: 10px 0;
	padding: 0 5px;
	width: 30px;
	overflow:hidden;
	clear:left;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}
.GooFlow_tool_div{/* border:#E9F4FA 1px solid; *//* overflow:hidden; */-moz-border-radius:2px;/* -webkit-border-radius:2px; *//* border-radius:2px; */width: 24px;}

.GooFlow_tool span{height:0px;width:30px;overflow:hidden;border-bottom: #ddd 1px solid;border-top:#FFFFFF 1px solid;margin: 10px 0 10px;clear:both;display:block;}
.GooFlow_tool_btn{display:block;height: 28px;width: 28px;cursor:default;margin-bottom: 5px;border: #ddd 1px solid;border-radius: 2px;outline:none;blr:expression(this.onFocus=this.blur());}
.GooFlow_tool_btn b{display:block;overflow:hidden;width:18px;height:18px;border:0px}
.GooFlow_tool_btn:hover{-moz-border-radius:3px; -webkit-border-radius:3px;border-radius:3px;padding:0px;border:#ff9600 1px solid;width:28px;height:28px;}
.GooFlow_tool_btn:hover b{-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;margin-bottom: 5px;}
.GooFlow_tool_btndown{
	width: 28px;
	height: 28px;
	cursor:default;
	margin: 0 0 5px 0;
	outline:none;
	blr:expression(this.onFocus=this.blur());
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:#ff9600 1px solid;
	border:0px;
	padding:0px;
	border: #ff9600 1px solid;
	background: #ffd8af;
	display:block;
}
.GooFlow_tool_btndown b{
	display:block;
	overflow:hidden;
	width:14px;
	height:14px;
	/* border:#F6A32D 1px solid; */
	/* border-top-color:#B1905D; */
	margin:0px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}

.GooFlow_work{float:right;margin: 10px 6px 0px 0px;position:relative;overflow:scroll;border:none;border-radius:2px;}
.GooFlow_work .GooFlow_work_inner{background-image:url(img/gooflow_blank.gif);position:relative;overflow:hidden;}
.GooFlow_work .GooFlow_work_group{position:absolute;overflow:hidden;top:0px;left:0px}

.GooFlow_area{position:absolute;overflow:hidden;}
.GooFlow_area .lock{cursor:default;}
.GooFlow_area .bg{cursor:move;filter:Alpha(Opacity=30);-moz-opacity:0.3;opacity: 0.3;}
.GooFlow_work .lock .bg{cursor:default;}
.GooFlow_area label{cursor:text;top:1px;left:1px;position:absolute;display:block;font-size:12px;text-indent:18px;height:18px;line-height:18px}
.GooFlow_work .lock label{cursor:default;}
.GooFlow_area b{display:block;height:18px;widht:18px;top:0px;left:0px;position:absolute;cursor:pointer}
.GooFlow_work .area_red .bg{border:1px solid red;background-color:#FF7865}
.GooFlow_work .area_red label{color:red;background:url(img/gooflow_bullet.png) no-repeat 1px 1px}
.GooFlow_work .area_yellow .bg{border:1px solid #CD925A;background-color:#FFD564}
.GooFlow_work .area_yellow label{color:#FFBA1D;background:url(img/gooflow_bullet.png) no-repeat 1px -16px}
.GooFlow_work .area_blue .bg{border:1px solid #347BB1;background-color:#549CDE}
.GooFlow_work .area_blue label{color:#347BB1;background:url(img/gooflow_bullet.png) no-repeat 1px -33px}
.GooFlow_work .area_green .bg{border:1px solid green;background-color:#84CA04}
.GooFlow_work .area_green label{color:green;background:url(img/gooflow_bullet.png) no-repeat 1px -50px}

.GooFlow_work svg{display:block;position:absolute}
.GooFlow_work v\:group{position:relative;display:block}
.GooFlow_work v\:group v\:line{overflow:visible}
.GooFlow_work v\:group v\:polyline{overflow:visible}
.GooFlow_work v\:group div{cursor:text;position:absolute;overflow:visible;display:inline;float:left;white-space: nowrap}
.GooFlow_work .draw{color:#ff3300}

.GooFlow_item{
	position:absolute;
	/* background: #fff url(img/gooflow_btn_bg.png) repeat-x 0px -72px; */
	border: #bbb solid 1px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius: 2px;
	color: #333333;
	background-color: #fff;
	box-shadow: 0.5px 0.9px 3px 0px rgba(14, 35, 88, 0.2);
	-webkit-box-shadow: 0.5px 0.9px 3px 0px rgba(14, 35, 88, 0.2);
	-moz-box-shadow:1px 1px 2px rgba(148,170,194,2);
}
.GooFlow_item:hover {
	border: #ff9600 1px solid;
}
.GooFlow table{border:1px #EBF4FD solid;padding:0px;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px}
.GooFlow td{ vertical-align:middle;text-align:center;padding:0px;cursor:default;word-wrap: break-word;word-break:break-all}
.GooFlow .ico{width:18px;cursor:move}
.GooFlow b{display:block;width: 18px;height: 18px;overflow:hidden;}

.GooFlow .item_round{/* background:url(img/gooflow_bg.png) repeat-x; */-moz-border-radius:11px;-webkit-border-radius:11px;border-radius: 14px;border: #bbb solid 1px;width:22px;height:22px;overflow:visible;}
.GooFlow .item_round table{border:0px;padding: 2px;width: 70px;height:22px;margin: 3px 15px;}
.GooFlow .item_round .span{
	display:block;
	text-align:center;
	position:absolute;
	left: -18px;
	top:-28px;
	width:80px;
	overflow:visible;
	text-align:center;
	padding:0px;
	cursor:default;
	word-wrap: break-word;
	word-break:break-all;
}
.GooFlow .item_complex{background:#C2DB4E;}
.GooFlow div .rs_right{overflow:hidden;position:absolute;right:-1px;top:-1px;height:100%;width:6px;cursor:w-resize}
.GooFlow div .rs_bottom{overflow:hidden;position:absolute;left:-1px;bottom:-1px;width:100%;height:6px;cursor:n-resize}
.GooFlow div .rs_rb{
	position:absolute;right:-1px;bottom:-1px;width:9px;height:9px;overflow:hidden;cursor:nw-resize;background:url(img/gooflow_tip.png) no-repeat 0px -8px;
}
.GooFlow div .rs_close{
	position:absolute;right:1px;top:1px;width:7px;height:7px;overflow:hidden;cursor:pointer;background:url(img/gooflow_tip.png) no-repeat 0px 0px
}
.GooFlow .rs_ghost{
	position:absolute;
	display:none;
	overflow:hidden;
	border:#8EA4C1 1px dashed;
	background:#D9E8FB;
	filter:Alpha(Opacity=60);
	-moz-opacity:0.6;
	opacity: 0.6;
	z-index:10;
}
.GooFlow .item_focus{border: #ff9600 1px solid;}
.GooFlow .item_mark{border:#ff3300 1px solid}
.GooFlow .item_mark td{cursor:crosshair}
.GooFlow textarea{position:absolute;border:#5068AE 1px solid;display:none;font-size:12px;overflow-y:visible;width:100px;z-index:10001}

.GooFlow .GooFlow_line_oper{
	width:70px;height:15px;background-color:#D8E8FC;border:#7DA2CE 1px solid;position:absolute;
	filter:Alpha(Opacity=50);-moz-opacity:0.5;opacity: 0.5;z-index:10000;
}
.GooFlow .GooFlow_line_move{filter:Alpha(Opacity=50);-moz-opacity:0.5;opacity:0.5;overflow:hidden;position:absolute;z-index:9999;background:url(0) no-repeat}
.GooFlow .GooFlow_line_oper b{display:inline-block;width:15px;height:15px;margin-left:2px;cursor:pointer}
.GooFlow .b_l1{background:url(img/GooFlow_line_oper.png) no-repeat 1px 1px}
.GooFlow .b_l2{background:url(img/GooFlow_line_oper.png) no-repeat 1px -14px}
.GooFlow .b_l3{background:url(img/GooFlow_line_oper.png) no-repeat 1px -29px}
.GooFlow .b_x{background:url(img/GooFlow_line_oper.png) no-repeat 1px -44px;margin-left:10px}

.GooFlow .ico_cursor{background: url(img/gooflow_icon.png) no-repeat;background-position: 6px -16px;width: 28px;height: 28px;}
.GooFlow .ico_start{background:url(img/gooflow_icon.png) no-repeat -19px -20px}
.GooFlow .ico_end{background:url(img/gooflow_icon.png) no-repeat -39px -20px}
.GooFlow .ico_fork{background:url(img/gooflow_icon.png) no-repeat -59px -20px}
.GooFlow .ico_join{background:url(img/gooflow_icon.png) no-repeat -78px -20px}
.GooFlow .ico_direct{background:url(img/gooflow_icon.png) no-repeat;background-position: -133px -16px;width: 28px;height: 28px;}
.GooFlow .ico_max{background:url(img/gooflow_icon.png?ver2) no-repeat;background-position: 6px -62px;width: 28px;height: 28px;}
.GooFlow .ico_min{background: url(img/gooflow_icon.png?ver2) no-repeat; background-position: 6px -86px; width: 28px; height: 28px;}
.GooFlow .ico_clear{background: url(img/gooflow_icon.png?ver3) no-repeat; background-position: 6px -110px; width: 28px; height: 28px;}
.GooFlow .ico_group{background:url(img/gooflow_icon.png) no-repeat -96px -20px}
.GooFlow .ico_complex{background:url(img/gooflow_icon.png) no-repeat -116px -20px}
.GooFlow .ico_node{background:url(img/gooflow_icon.png) no-repeat -19px -45px}
.GooFlow .ico_task{background:url(img/gooflow_icon.png) no-repeat 2px -45px;background-position: 8px -41px;width: 28px;height: 28px;}
.GooFlow .ico_chat{background:url(img/gooflow_icon.png) no-repeat -38px -45px}
.GooFlow .ico_state{background:url(img/gooflow_icon.png) no-repeat -59px -45px}
.GooFlow .ico_plug{background:url(img/gooflow_icon.png) no-repeat -135px -45px}

.GooFlow .ico_open{background:url(img/gooflow_icon.png) no-repeat -19px 1px}
.GooFlow .ico_new{background:url(img/gooflow_icon.png) no-repeat 2px 1px}
.GooFlow .ico_reload{background:url(img/gooflow_icon.png) no-repeat -97px 1px}
.GooFlow .ico_save{background:url(img/gooflow_icon.png) no-repeat -39px 1px}
.GooFlow .ico_undo{background:url(img/gooflow_icon.png) no-repeat -58px 1px}
.GooFlow .ico_redo{background:url(img/gooflow_icon.png) no-repeat -78px 1px}