.header-title{height:auto;border:none;border-radius:5px;}
.header-title h1{display:block;padding:10px;margin:0px;text-align:center;font-size:20px;font-weight:normal;line-height:50px;padding-bottom:0px;color:#333;}
.library-tit{border-bottom:1px solid #e5e5e5;}
.library-tit>h1>cite{color:#ff5722;padding-left:5px;}
.library-tit>h1>em{font-size:14px;line-height:50px;color:#ababab;padding-left:5px;}
.layui-card-body{overflow-x:hidden;}
.library-body{padding-top:20px;}
.layui-card-body>.library-tips{font-size:14px;line-height:25px;color:#888;padding-bottom:20px;}
.layui-card-body>.library-tips cite{color:#ff5722;}
.library-body>.library-tips cite{color:#ff5722;font-size:16px;}
.library-box .layui-card-header{padding:5px 15px;}
.library-box .layui-card-header strong{color:#000;}
.library-box .layui-card-header h2{font-size:18px;color:#555;}
.larryms-doc-quote{border-left:5px solid #5bc0de;background-color:#f4f8fa;color:#5bc0de;margin-bottom:0px;}
table.library-talbe tbody tr td{line-height:25px;white-space:normal;word-break:normal;word-break:normal;}
.layui-card-body p.remark{color:#888;padding-top:5px;padding-bottom:10px;}
.layui-card-body p.remark em{color:#ff5722;}
.layui-card-body p.img-p>img{display:block;width:100%;height:auto;border:none;}
.func-introduce{padding:15px;}
.func-introduce cite{display:block;color:#01AAED;font-size:16px;font-style:normal;margin-bottom:10px;}
.func-introduce p{font-size:14px;color:#000;line-height:26px;padding-left:15px;padding-bottom:10px;}
.func-introduce span.btn-info{display:block;width:100%;padding-left:15px;color:#888;font-size:14px;box-sizing: border-box;}
.func-introduce span.btn-info em{color:#ff5722;}
.notice .demo{padding-top:20px;text-align: left;}
.notice .demo h2{display:block;width:100%;height:30px;line-height:30px;color:#333;font-size:16px;border-bottom:1px solid #e5e5e5;padding-bottom:5px;margin-bottom:15px;
overflow: hidden;white-space: nowrap;text-overflow:ellipsis;}
.notice .demo h2 em{color:#888;font-size:14px;}
.notice .demo .layui-btn{margin-bottom:15px;display:inline-block;vertical-align:middle;text-align: left;margin-left: 0px;margin-right: 10px;}
.notice .demo .layui-btn i{display:inline-block;vertical-align:middle;padding-right:5px;}
.larry-bg-info{background:rgba(95,184,120,0.98);}
.larry-bg-success{background:rgba(0,150,136,0.98);}
.larry-bg-error{color:#ff5722;}
.larry-bg-warning{background:#FFB800;}
.larry-bg-danger{background:rgba(255,87,34,0.98);}
/*shuttle*/
.shuttle .shuttle-title{
	color: #1F9FFF;font-size: 16px;padding-top: 10px;padding-bottom: 5px;
	overflow: hidden;white-space: nowrap;text-overflow: ellipsis;
}
.shuttle-title em{
	color: #888;
	font-size: 14px;
}
.shuttle .layui-textarea{
	min-height: 60px;
}
.shuttle .shuttle-demo{
	clear: both;
}
.shuttle .demo2{
	padding: 15px;
	padding-left: 25px;
	font-size: 16px;
}
.shuttle .demo2 h2{
	display: block;
	width: 100%;
	height: 30px;
	overflow: hidden;
	white-space: nowrap;
	text-align: left;
	text-overflow: ellipsis;
	font-size: 16px;
	color: #333;
	line-height: 30px;
}
.shuttle .demo2 .top{
	padding-top: 10px;
}
.shuttle .demo2 .top .b1{
	background: #1F9FFF;
}
.shuttle .demo2 .top .b2{
	background: #C61685;
}

.shuttle .demo2 .fromlist {
	padding:10px;
	overflow:hidden;
	background-color:seashell;
	border:1px solid bisque;
	transition:0.4s;
	margin-top:20px;
}
.shuttle .demo2 .tolist {
	padding:10px;
	border:1px dashed skyblue;
	background-color:aliceblue;
	margin-top:20px;
}
label.bq {
	padding:2px 5px;
	background-color:darkgray;
	color:#FFF;
	margin-right:2px;
	cursor:pointer;
	border-radius:4px;
	display:inline-block;
	margin-bottom: 6px;
	margin-right: 6px;
}
.shuttle .demo2  .fromlist label {
	background-color:tan;
	border-color:rosybrown;
	background: rgba(1, 206, 209,1);
}
.shuttle .demo2  .tolist label {
	background-color:rgba(30, 159, 255, 0.8);
	border-color:royalblue;
}
.demo2 .tolist label.a{
	background: #1E9FFF;
}
.demo2 .tolist label.b{
	background: #009688;
}
.demo2 .tolist label.c{
	background: #FF5A26;
}
.demo2 .tolist label.d{
	background: #C71685;
}
.demo2 .tolist label.e{
	background: #4F535E;
}
@media screen and (min-width: 985px) and (max-width: 1140px){
	.shuttle .shuttle-demo{
		float: right;
	}
}
@media screen and (max-width: 768px){
	.layui-btn+.layui-btn{
		margin-left: 0px;
		margin-right: 10px;
	}
	.shuttle .shuttle-demo{
		float: right;
	}
}
@media screen and (max-width: 600px){
	.shuttle .shuttle-demo{
		display: none;
	}
}
/*分步表单*/
.larry-step{
	margin: 0 auto;
	display:block; 
	height:60px;
}
.larry-step .larry-step-li{ position:relative; text-align:center;}
.larry-step .line_bg{ height:3px; background:#d9eaf3; display:inline-block; width:50%; top:13px; position:absolute; z-index:1;}
.larry-step .lbg-l{left:0;}
.larry-step .lbg-r{right:0;}
.larry-step .num{ position:relative; z-index:2; background:#fff;width:54px; height:30px;text-align:center; display:inline-block;}
.larry-step .num em,.num i{width:24px; height:24px; display:inline-block; left:15px; top:2px;position:absolute;}
.larry-step .num em{ background:#d9eaf3;transform:rotate(45deg);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);z-index:2;}
.larry-step .num i{  z-index:3; color:#fff; font-style:normal; font-weight:700; top:4px;}
.larry-step .lbg-txt{ position:relative; color:#b6c6ce; font-size:13px;}
.larry-step .on .lbg-txt{color:#1a97d7;}
.larry-step .on .line_bg,.step .on .num em{ background:#1a97d7}

.larry-form-step .larry-step-part {
	display: block;
	padding-left:180px;
}
.larry-step-part .larry-step-block{
	display: inline-block;
	vertical-align: top;
	width: 300px;
	margin-left: 15px;
}
.larry-step-part .larry-step-block .larry-input{
	border-color: #ccc;
}
.larry-step-info{
	max-width: 700px;
	color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    border: 1px solid transparent;
    border-radius: 4px;
   text-indent: 2em;
}
.larry-step-p{
	color: #1997d7;
	line-height: 38px;
	text-align: left;
	font-size: 14px;
	margin-left: 0px;
}
@media screen and (min-width: 985px) and (max-width: 1140px){
	.larry-form-step .larry-step-part {
			padding-left:50px !important;
	}
}
@media screen and (min-width: 768px) and (max-width: 991px){
	.larry-form-step .larry-step-part {
			padding-left:0px !important;
	}
}
@media screen and (min-width: 648px) and (max-width: 767px){
	.larry-form-step .larry-step-part {
			padding-left:0px !important;
	}
}
@media screen and (max-width: 647px){
	.larry-form-step .larry-step-part {
			padding-left:0px !important;
	}
	.larry-form-step .larry-form-label{
		width: 80px;
		padding: 9px 0px;
	}
	.larry-form-step .larry-input-block{
		width: 235px;
		margin-left: 0px;
	}
	.larry-form-step .larry-input-block .larry-span-tips{
		max-width: 160px;
	}
	.larry-form-step  input::-webkit-input-placeholder{display: none;}
	.larry-form-step .larry-code{
		width: 120px;
	}
}