<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <link rel="shortcut icon" href="/static/img/favicon.ico">

        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>{{siteName}} 登录</title>
        <link rel="stylesheet" href="/static/layui/css/layui.css?t=1504439386550" media="all">
        <link rel="stylesheet" href="/static/css/login.css?t=1504439386550" media="all">
    </head>

    <!--登录超时，跳出框架显示登录页		start-->
    <script>
        if(self.location !== top.location){
            top.location = self.location;
        }
    </script>
   
    <!--登录超时，跳出框架显示登录页		end-->
    <body>
        <div class="layui-carousel video_mask bg-img" id="login_carousel" >

            <div class="login layui-anim layui-anim-up">
                <h1>{{siteName}}</h1></p>
                <form class="layui-form" action="" method="post">
                    <div class="layui-form-item">
                        <input type="text" id="username" name="username" lay-verify="required" placeholder="请输入账号" autocomplete="off"  value="{{username}}" class="layui-input">
                    </div>
                    <div class="layui-form-item">
                        <input type="password" id="password" name="password" lay-verify="required" placeholder="请输入密码" autocomplete="off" value="" class="layui-input">
                    </div>
                    <div class="layui-form-item form_code">
                        <input class="layui-input" style="width: 160px;" id="captcha" name="captcha" placeholder="验证码" lay-verify="required" lay-vertype="tips" type="text" autocomplete="off">
                        <a class="code" id="btnRefreshVerifyCode">
                            <div id="v_container" style="width: 116px;height: 36px;background: #fff!important;">
                                <canvas id="verifyCanvas" width="116" height="36" style="cursor: pointer;">您的浏览器版本不支持canvas</canvas>
                            </div>
                        </a>
                    </div>
                    <button class="layui-btn login_btn" lay-submit="" lay-filter="login">登陆系统</button>
                </form>
            </div>
        </div>
        <script type="text/javascript">
            var error_info = "{{errmsg}}";
        </script>
        <script src="/static/js/gVerify.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/larryms/layui/layui.js"></script>
    <script src="/static/js/moment-with-locales.js"></script>
    <script src="/static/js/common.js?s=2.0"></script>
    <script src="/static/js/login.js" charset="utf-8"></script>
    <script type="text/javascript">
        layui.config({
            version: "2.0.8",
            base: '/static/larryms/'
        }).extend({
            larry: 'js/base'
        }).use('larry');
    </script>
    </body>
</html>



