img{
    cursor: pointer;
}
/**默认链接颜色*/
.a-link{
    color: #2991D9;
    cursor: pointer;
}

/**可点击样式*/
.click-span{
    color: #771bff;
    cursor: pointer;
    text-decoration:underline
}

/**字体颜色*/
/* 蓝色 */
.ft-blue {
    color: #1E9FFF;
}

/* 警告 */
.ft-warm {
    color: #FFB800;
}

/* 强调 */
.ft-red {
    color: #ff1d33;
}
/* 绿色 */
.ft-green {
    color: #009688;
}/* 绿色 */
.ft-gray {
    color: #938996;
}
.ft-10{font-size: 10px}
.ft-12{font-size: 12px}
.ft-14{font-size: 14px}
.ft-16{font-size: 16px}
.ft-18{font-size: 18px}
.ft-20{font-size: 20px}
.ft-22{font-size: 22px}
.ft-24{font-size: 24px}
.ft-26{font-size: 26px}
.ft-28{font-size: 28px}
.ft-30{font-size: 30px}
.center{
    text-align: center;
}
/*字体加粗*/
.ft-normal{
    font-weight: normal;
}

.ft-bold{
    font-weight: bold;
}
/**表单左侧label宽度*/
.label-120 {
    float: left;
    display: block;
    padding: 9px 15px;
    width: 120px;
    font-weight: 400;
    text-align: right
}
.label-150 {
    float: left;
    display: block;
    padding: 9px 15px;
    width: 150px;
    font-weight: 400;
    text-align: right
}.label-180 {
     float: left;
     display: block;
     padding: 9px 15px;
     width: 180px;
     font-weight: 400;
     text-align: right
 }
.cy-show{
    display: block!important;
}