.wp-customerservices_translate_content ul li {margin-bottom:5px;overflow:hidden;}
.wp-customerservices_translate_content ul li a {display:inline-block;line-height:140%;}
.wp-customerservices_translate_content ul li img {margin-right:10px;vertical-align:middle;}