@charset "UTF-8";
/*------------// Overall //------------------*/
body{font:12px/140% Arial,"宋体",Helvetica, sans-serif,Verdana;color:#5a5a5a; margin:0; background:#FFF; }
html,body{overflow:hidden;-webkit-text-size-adjust:none;}
table,td{font:12px/140% Arial,"宋体",Helvetica, sans-serif,Verdana; color:#5a5a5a;}
table{border-collapse:collapse; border-spacing:0; empty-cells:show; }
th, td { border-collapse:collapse; }
A:link{text-decoration:none; color:#5a5a5a;}
A:visited{text-decoration:none; color:#5a5a5a;}
A:hover{text-decoration:none; color:#47cdff;}
img{ border:0; }
div,p,img,ul,ol,li,form,input,label,span,dl,dt,dd,h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner{   border:none;padding:0 } 
a{blr:expression(this.onFocus=this.blur())} /*for IE*/
a{outline:none;} /*for Firefox*/
ol,ul,li{list-style-type:none;}
.overz{ overflow:auto; zoom:1; overflow-x:hidden; overflow-y:hidden;}
.mn_12{ margin-bottom:12px;}
/*@font-face {
	font-family: "Alpida Unicode System";
	font-style: normal;
	src: url(uyghur.eot);
}
@font-face {
	font-family: "Alpida Unicode System";
	src: local("Alpida Unicode System"), url(AlpidaUniSys.ttf) format("opentype");
}*/

#scroll_container {overflow-x:auto;overflow-y:scroll;position:relative;width:100%;}
#scroll_container_bg {position:absolute;width:100%;left:0px;top:0px;}
#canvas {position:relative;width:100%;z-index:99;}
#canvas .cstlayer,#site_footer .cstlayer {left:0;top:0;position:absolute;/*overflow:hidden;*/z-index:99;}
.cstlayer  .layer_content{behavior: url(../../../script/pie.htc);}

/*--阴影几种样式--*/
.wp-moudle-shadow-one,.wp-moudle-shadow-two,.wp-moudle-shadow-three,.wp-moudle-shadow-four{  behavior: url(../../../script/pie.htc); }
.wp-moudle-shadow-one{ -moz-box-shadow:1px  2px 12px 3px rgba(0,0,0,.4); -webkit-box-shadow:1px  2px  12px 3px  rgba(0,0,0,.4); box-shadow:1px  2px  12px 3px  rgba(0,0,0,.4);}
.wp-moudle-shadow-two{ -moz-box-shadow:1px 1px 12px 6px rgba(0,0,0,.4); -webkit-box-shadow:1px  1px  12px 6px  rgba(0,0,0,.4); box-shadow:1px  1px  12px 6px  rgba(0,0,0,.4);}
.wp-moudle-shadow-three{ -moz-box-shadow:5px  5px 12px 3px rgba(0,0,0,.4); -webkit-box-shadow:5px  5px  12px 3px  rgba(0,0,0,.4); box-shadow:5px  5px  12px 3px  rgba(0,0,0,.4);}
.wp-moudle-shadow-four{ -moz-box-shadow:-3px  3px 12px 3px rgba(0,0,0,.4); -webkit-box-shadow:-3px  3px  12px 3px  rgba(0,0,0,.4); box-shadow:-3px  3px  12px 3px  rgba(0,0,0,.4);}

/*--自定义下拉菜单--*/
/*注释behavior属性 - IE8下边框无法显示*/
.wp-diy-selected{ width:auto; height:22px;line-height:23px;   -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; /*behavior: url(../../../script/pie.htc);*/ border:1px solid #b5b5b5; background:url(../images/wp-link-input-bg.gif) repeat-x #FFF;}
.wp-diy-selected-left{ float:left; padding:0 3px;white-space:nowrap;width:84%;overflow:hidden;text-align:left;}
.wp-diy-selected-button{ float:right;}
.wp-diy-selected-button a{ display:block; width:14px; height:22px; overflow:hidden; background:url(../images/wp-diy-selected-button.gif) no-repeat;}
.wp-diy-selected-button a.disabled {background:url(../images/wp-diy-selected-button2.gif) no-repeat;cursor:default;}
.wp-diy-selected-content{ background:#FFF; border:1px solid #b5b5b5; border-top:none; display:none; position:absolute; max-height:110px; overflow-y:auto; overflow-x:hidden; z-index:1111;white-space:nowrap;}
.wp-diy-selected-content ul li{ height:22px; line-height:22px; text-indent:5px;}
.wp-diy-selected-content.hassearchable{overflow-y:hidden;max-height:147px; }
.wp-diy-selected-content.hassearchable ul{overflow-y:auto;overflow-x:hidden;max-height:110px;}
.wp-diy-selected-content .searchable_div{position:relative;margin:5px;border:1px solid #bdbdbd;border-radius: 2px;}
.wp-diy-selected-content .searchable_txt{border:none;line-height:25px;border-radius: 2px;width:100%;outline: none;max-width: 224px}
.wp-diy-selected-content .searchable_button{position:absolute;right:0;top:0;z-index:100;width:25px;height:25px;text-align: center;cursor: pointer;}
.wp-diy-selected-content .searchable_button img{margin-top:5px;width:15px;height:15px;}
/*.wp-diy-selected-content ul li:hover,*/.wp-diy-selected-content ul li.local{ background:#4d7cc3; color:#FFF; cursor:pointer;}
/*.wp-diy-selected-content ul li:hover a,.wp-diy-selected-content ul li:hover a:visited{ color:#FFF;}*/

#copyright{margin: 0 auto;z-index:800;bottom :15px;font-size:11px; font-family:Tahoma, Geneva, sans-serif;-webkit-text-size-adjust:none; height:35px; line-height:35px; color:#FFF; padding-left:13px;}
#copyright .copyright_c font{color:#fff;font-weight:bold; margin-left:3px;margin-right: 3px;}
#copyright .copyright_c a.font{color:#fff;font-weight:bold; margin-left:3px;margin-right: 3px;}
#copyright .copyright_c {background:url(../images/copyright_logo.png) no-repeat left center;padding-left:110px;color:#dedede;display:inline-block;font-family:'microsoft yahei',Arial;font-size:14px;margin-right:13px;}
#copyright .copyright_corp font{color:#fff;font-weight:bold; margin-left:3px;margin-right: 3px;}
#copyright .copyright_corp {color:#dedede;display:inline-block;font-family:'microsoft yahei',Arial;font-size:14px;margin-right:13px;}

.copyright_bar{background:#000; width:100%;bottom:0px; left:0px; text-align:center; position:fixed;z-index:1000; filter:alpha(opacity=80);-moz-opacity:0.8;	-khtml-opacity: 0.8;	opacity: 0.8;}
.cp { background:url(../images/copy_close.png) 0 0; width:13px; height:13px; display:block; float:left;margin-top:12px;}
div.cp:hover{background-position:0 -13px; }
.copyright_bar{background:#000; width:100%;bottom:0px; left:0px; text-align:center; position:fixed;z-index:1000; filter:alpha(opacity=80);-moz-opacity:0.8;	-khtml-opacity: 0.8;	opacity: 0.8;}
.new_sitestar_footer_cp{ display:block;position:absolute;bottom :15px;width:274px; height:26px; line-height:26px; overflow:hidden; background:url(../images/sitestar_copyright_bg.png) no-repeat;}
.new_sitestar_footer_cp span{ display:block;}
.new_sitestar_footer_cp span.sf_logo{  float:left; background:url(../images/sitestar_copyright_bg.png) no-repeat -10px -39px ; width:104px; height:17px; margin:4px 0 0 8px;}
.new_sitestar_footer_cp span.sf_font font{font-size:14px; font-weight:bold;margin-left: 5px;margin-right: 5px; }
.new_sitestar_footer_cp span.sf_font{  float:left; font-family:'Microsoft yahei'; font-size:14px; font-weight:normal; color:#FFF; margin-left:4px;margin-top: -2px;}
.new_sitestar_footer_cp span.sf_close{ float:right; padding:6px 5px 0 0;}
.new_sitestar_footer_cp span.sf_close div{ display:block; background:url(../images/sitestar_copyright_bg.png) no-repeat -230px -39px; width:13px; height:13px;}
.new_sitestar_footer_cp span.sf_close div:hover{background:url(../images/sitestar_copyright_bg.png) no-repeat -251px -39px; }
#wp-floatpanel_loading2{position:absolute;left:45%;top:45%;}
.wp-new-member-login-windows{ position:absolute; width:541px;}
.wp-new-member-login-windows-top{ height:35px; background:url(../images/wp-new-member-background.png) no-repeat 0 -32px;}
.wp-new-member-login-windows-c{ background:url(../images/wp-new-member-login-windows-c.png) repeat-y; padding:5px 35px 24px 35px;}
.wp-new-member-login-windows-bottom{ height:45px; background:url(../images/wp-new-member-background.png) no-repeat 0 -68px;}
.wp-new-member-close{ width:30px; height:29px; position:absolute; z-index:100; margin:10px 0 0 500px;}
.wp-new-member-close a{ display:block; width:30px; height:29px; background:url(../images/wp-new-member-background.png) no-repeat;}
.wp-new-member-close a:hover{ background-position:-32px 0;}
.wp-new-member-login-windows-c h2{ font-size:30px; height:50px; font-weight:normal;}
.wp-new-member-topline{ background:#f9f9f8; height:3px; border-top:1px solid #eae9ea;  }
.wp-new-member-login{ padding-top:15px;position: relative;overflow: auto;}
.wp-new-member-login input.textinput,.wp-new-member-login textarea.textinput{ height:25px; width:202px; border:1px solid #b5b5b5; line-height:25px; padding:0 5px; background:url(../images/wp-new-member-login-text-input.gif) repeat-x; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; }
.wp-new-member-login input.textinput:focus,.wp-new-member-login textarea.textinput:focus{transition:border linear .2s,box-shadow linear .2s; -moz-transition:border linear .2s,-moz-box-shadow linear .2s; -webkit-transition:border linear .2s,-webkit-box-shadow linear .2s; outline:none;border-color:rgba(30,117,16,.75); box-shadow:0 0 8px rgba(30,117,16,.5); -moz-box-shadow:0 0 8px rgba(30,117,16,.5); -webkit-box-shadow:0 0 8px rgba(30,117,16,3); background:#FFF; }
.wp-new-member-login textarea.textinput {height:80px;}
#wp_user_info .required,#wp_user_info label.error{color:red;}
.wp-new-member-common-button{ width:auto; cursor:pointer;}
.wp-new-member-common-button .wp-new-member-common-button-l{ float:left; width:4px; background:url(../images/wp-new-member-background.png) no-repeat 0 -433px; height:28px;}
.wp-new-member-common-button .wp-new-member-common-button-c{float:left; background:url(../images/wp-new-member-background.png) no-repeat -4px -433px;  height:28px; padding:0 15px;}
.wp-new-member-common-button .wp-new-member-common-button-c a,.wp-new-member-common-button .wp-new-member-common-button-c a:visited{ color:#FFF; line-height:26px; font-size:14px;}
.wp-new-member-common-button .wp-new-member-common-button-r{ float:left; width:4px; background:url(../images/wp-new-member-background.png) no-repeat -501px -433px;  height:28px;}

.wp-new-member-common-button:hover .wp-new-member-common-button-l{ background:url(../images/wp-new-member-background.png) no-repeat 0 -463px;}
.wp-new-member-common-button:hover .wp-new-member-common-button-c{ background:url(../images/wp-new-member-background.png) no-repeat -4px -463px;}
.wp-new-member-common-button:hover .wp-new-member-common-button-r{ background:url(../images/wp-new-member-background.png) no-repeat -501px -463px;}
#wp_user_info .wp-new-member-common-button {float: left;}
#wp_user_info a.wp-new-member-common-button-adduser-cancel{ float:left; font-size:14px; line-height:28px; padding:0 15px;}


/*--------遮罩层样式-----------*/
#wp-floatpanel_loading,#wp-floatpanel_overlay,#wp-confirmpnl_overlay,#wp-alertpnl_overlay,#wp-ajaxsend_loading {background-color:#000;left:0px;top:0px;filter:alpha(opacity=25);-moz-opacity:0.25;opacity:0.25;position:fixed;}
#wp-confirmpnl_overlay,#wp-alertpnl_overlay {filter:alpha(opacity=45);-moz-opacity:0.45;opacity:0.45;z-index:10000;}
#wp-template-install-overlay{filter:alpha(opacity=45);-moz-opacity:0.45;opacity:0.45;z-index:10001;background-color:#000;left:0px;top:0px;position:fixed;background-image: url(../images/loading.gif);background-position: center center;background-repeat: no-repeat;}
#wp-ajaxsend_loading {background-color:#5A5A5A;text-align:center;}
#wp-floatpanel_loading img,#wp-ajaxsend_loading img {position:absolute;left:45%;top:45%;}
/*--------遮罩层样式-----------*/
.artview_detail ol,.artview_detail ul,.artview_detail li,.wp-products-detail-desc ol,.wp-products-detail-desc ul,.wp-products-detail-desc li,.product_details_desc .goods-detail ul li{list-style-type:disc; }
.artview_detail ul,.wp-products-detail-desc ul{  margin-left:28px; }
.artview_detail li,.wp-products-detail-desc li,.product_details_desc .goods-detail ul li{ margin-left:18px; }
.navigation,.wp_subtop,.navigation ul li{behavior: url(../../../script/pie.htc);}

/*--------手机设备样式 2014/02/07-----------*/
.wp-mobile-device-mask,.wp-mobile-scrollbar,
.wp-mobile-device-premask,.wp-mobile-prescrollbar {visibility:hidden;position:absolute;top:39px;left:35.2%;z-index:510;}
.wp-mobile-device-mask,.wp-mobile-device-premask {width:30px;background-color:#FFF;z-index:8;}
.wp-mobile-scrollbar {background-color:#dcdcdc;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;width:7px;}
.wp-mobile-device-premask,.wp-mobile-prescrollbar {top:0px;}
.wp-mobile-scrollbar > span.pane {position:relative;left:-1px;top:0;display:inline-block;background-color:#219aed;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;height:20px;width:9px;}
.wp-mobile-prescrollbar > span.pane {position:relative;left:0;top:0;display:inline-block;background-color:#bdbdbd;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;height:20px;width:6px;}
/*登录注册--*/
.floatlayerbg{ position:absolute;width:100%;height:100%;top:0px;left:0px;background: #151515;filter: alpha(opacity=82);-moz-opacity: 0.82;opacity: 0.82; z-index:1000;}
.iframebox{ position:absolute; top:0; height:0px; z-index:5;width:300px;margin:0 auto;background:rgba(255, 255, 255, 0.9)!important;filter:Alpha(opacity=90); background:#fff;border-radius:10px;-moz-border-radius:10px;-weblik-border-radius:10px; height:500px;background:#ededed\0;filter:Alpha(opacity=100)\0;}
.iframebox iframe{ position:relative; }
.iframebox .loading{position:absolute; width:100%; height:100%;z-index:100}
.iframebox .loading img{ width:16px; height:16px;position:absolute;left:50%;top:50%; margin-left:-16px; margin-top:-16px; z-index:101}
.closebtn{ position: absolute; display:none;width: 38px; height: 38px;background: #3f3f40;    background: #000;
left: 50%;top: 50%;}
.closebtn a{ 
filter: alpha(opacity=100);-moz-opacity: 1;opacity: 1;display: block;  width: 38px; height: 38px;background: url(../images/popclose.png) no-repeat center center; transition: all 0.4s; -webkit-transition: all 0.4s;-ms-transition: all 0.4s-moz-transition: all 0.4s;}
.closebtn a:hover {transform: rotate(180deg);-webkit-transform: rotate(180deg);-ms-transform: rotate(180deg);-moz-transform: rotate(180deg);}
/*购物车确认订单--*/
.scart_iframebox{ width:990px;position:absolute; top:0px; height:277px; z-index:5;background:#fff;border-radius:10px;-moz-border-radius:10px;-weblik-border-radius:10px; font-family:"Microsoft YaHei";}
.scart_iframebox iframe{ position:relative; }
.scart_iframebox .iframebox2{ position:relative; height:200px;overflow:hidden;}
.scart_iframebox .loading{position:absolute; width:100%; height:100%;z-index:100}
.scart_iframebox .loading img{ width:16px; height:16px;position:absolute;left:50%;top:50%; margin-left:-16px; margin-top:-16px; z-index:101}
.scart_iframebox .sctit{ height:75px; margin:0 20px;border-bottom:2px solid #e1e1e1; }
.scart_iframebox .sctit h2{ float:left; font-size:22px;font-weight:normal;color:#eb6100; text-align:center; line-height:25px; padding:25px 22px; border-bottom:2px solid #eb6100; position:relative; z-index:5;}
.scart_iframebox .sctit p.curpagetxt{ float:right;line-height:25px; padding:25px 22px 25px 0; font-size:12px; color:#b5b5b5;}
.scart_iframebox .sctit p.subtitle2{display:none;}
.scart_iframebox .sctit p.curpagetxt span em{ display:inline-block; width:35px; height:4px; border-top:1px solid #e1e1e1; margin:0 4px; }
.scart_iframebox .sctit p.curpagetxt span.cur{ color:#eb6100;}
/*支付结果*/
.payment_result{width:400px;left:50%;position:absolute; top:100px; z-index:1000; width:380px;  top:0; }
.result{width:400px; height:300px; background:#FFF;border-radius: 5px;-moz-border-radius: 5px;-weblik-border-radius: 5px; overflow:hidden; margin-bottom:20px;}
.result .tip{width:400px; height:200px; text-align:center; color:#FFF}
.result .tip h1{ padding-top:65px; font-size:32px; font-weight:normal;}
.result .tip p{ margin-top:15px; font-size:14px; line-height:1.6em;}
.result .linkbtn{ text-align:center;}
.result .linkbtn a{ display:inline-block; width:150px; height:50px; text-align:center; line-height:50px; background:#636363; color:#fff; font-size:16px; margin:0 10px; margin-top:25px; text-decoration:none;}
.result .linkbtn a:hover{ text-decoration:underline}
.result.success01 .tip{ background:#27b512;}
.result.success01 .tip p{color:#fff100}
.result.success02 .tip{ background:#00b7ee;}
.result.success02 .tip p span{color:#fff100}
.result.failure01 .tip{ background:#6a17af;}
.result.failure02 .tip{ background:#cf6a22;}

/*新增收货地址*/
.iframebox_a{ position:absolute; top:110px; height:0px; z-index:5;width:380px;margin:0 auto;background:#FFF; border-radius:10px;-moz-border-radius:10px;-weblik-border-radius:10px;}
.iframebox_a iframe{ position:relative; }
.iframebox_a .loading{position:absolute; width:100%; height:100%;z-index:100}
.iframebox_a .loading img{ width:16px; height:16px;position:absolute;left:50%;top:50%; margin-left:-16px; margin-top:-16px; z-index:101}

.iframebox_b{position:absolute;width:990px; height:660px; z-index:100;  border-radius:10px;-moz-border-radius:10px;-weblik-border-radius:10px;}
.iframebox_b iframe{ position:relative; }
.iframebox_b .loading{position:absolute; width:100%; height:100%;z-index:100}
.iframebox_b .loading img{ width:16px; height:16px;position:absolute;left:50%;top:50%; margin-left:-16px; margin-top:-16px; z-index:101}

.iframebox_c{ position:absolute; top:110px; height:0px; z-index:5;width:560px;margin:0 auto;background:#FFF; border-radius:10px;-moz-border-radius:10px;-weblik-border-radius:10px;}
.iframebox_c iframe{ position:relative; }
.iframebox_c .loading{position:absolute; width:100%; height:100%;z-index:100}
.iframebox_c .loading img{ width:16px; height:16px;position:absolute;left:50%;top:50%; margin-left:-16px; margin-top:-16px; z-index:101}

.iframebox_d{position:absolute; top:110px; height:0px; z-index:5;width:600px;margin:0 auto;background:#FFF; border-radius:10px;-moz-border-radius:10px;-weblik-border-radius:10px;}
.iframebox_d iframe{position:relative;}
.iframebox_d .loading{position:absolute; width:100%; height:100%;z-index:100}
.iframebox_d .loading img{ width:16px; height:16px;position:absolute;left:50%;top:50%; margin-left:-16px; margin-top:-16px; z-index:101}

ins#qiao-wrap{height:0;}
#qiao-wrap{display:block;}
.showpagepos,.showpagepar{float:left;clear:both;}
.full_column.full_column-bottomfixed,.cstlayer.full_column-bottomfixed{position:fixed;visibility:hidden;bottom:0;top:auto;}