<div class="layui-layout layui-layout-admin" style="padding-left: 10px;">
    <div class="layui-row" style="margin-top: 20px;">
        <div class="layui-col-xs6">
            <!--a class="layui-btn" data-type="tabAdd" href="/assetinfo/add">新增</a-->  
            <button class="layui-btn" id="btnImport" data-type="import">导入</button>
        </div>
        <div class="layui-col-xs6 search_text">
            <form class="layui-form" action="" onsubmit="javascript:return false;">
                <div class="demoTable">
                    <div class="layui-inline">
                        <input class="layui-input" name="no" id="no" autocomplete="off" placeholder="编号" >
                    </div>
                    <button class="layui-btn" data-type="reload">查询</button>
                </div>
            </form>
        </div>
    </div>
    <table class="layui-hide" id="tableMain" lay-filter="tableMain">
    </table>
    
    <script type="text/html" id="bar">
       <!--  <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a> -->
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-xs" lay-event="del">删除</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="status">启|禁</a>

    </script>
</div>
<script>
    var editObj=null,ptable=null,treeGrid=null,tableId='treeMain',layer=null;
    layui.config({
        base: '/static/layui/extend/'
    }).extend({
        treeGrid:'treeGrid'
    }).use(['jquery','layer','table','form','element','upload'], function(){
        var $=layui.jquery;
        var layer=layui.layer;
        var table = layui.table;
        var form = layui.form;
        var element = layui.element;
       var upload = layui.upload;
        //方法级渲染
        table.render({
            elem: '#tableMain'
            ,url: '/assetinfo/list'
            ,cols: [[
                {field:'No', title: '编号'}
                ,{field:'Name', title: '资产名称'}
                ,{field:'Cate', title: '所属大类'}
                ,{field:'ChildCate', title: '资产分类'}
                ,{field:'Num', align:'center', title: '数量'}
                ,{field:'ValuationType', title: '价值类型'}
                ,{field:'Valuation', align:'center', title: '价值'}
                ,{field:'Brand', align:'center', title: '品牌'}
                ,{field:'Spec', align:'center', title: '规格'}
                
                 {{/* ,{field:'State', title: '状态', align:'center', width:100, templet: function(d){
                        if(d.State==1){
                            return '<span class="layui-badge layui-bg-green">进行中</span>'
                        }
                        return '<span class="layui-badge layui-bg-red">已结束</span>'
                    
                ,{fixed: 'right', width:160, align:'center', toolbar: '#bar'*/}}
            ]]
            ,id: 'mainList'
            ,page: true
            ,limit: 30
            ,height: "full-125"
        });
        uploadListIns = upload.render({
            elem: '#btnImport'
            ,url: '/assetinfo/import'
            ,accept: 'file'
            ,multiple: false
            ,auto: true
            ,field: 'file'
            ,size:10240
            ,exts: 'xls|xlsx'
            ,done: function(res, index, upload){
                if(res.status == 0){ //上传成功
                    active.reload()
                    layer.msg('导入成功');
                } else {
                    layer.msg('导入失败：'+res.message);
                } 
            }
            ,error: function(index, upload){
                layer.msg('上传失败');
            }
        });

        var $ = layui.$, active = {
            reload: function(){
                table.reload('mainList', {
                    page: {
                    curr: 1 //重新从第 1 页开始
                },where: {
                        // fetchChild: $("input[name='fetchChild']:checked").val()||"false",
                        no: $('#no').val()
                    }
                });
            }
        };

        //监听工具条
        table.on('tool(tableMain)', function(obj){
            var data = obj.data;
            if(obj.event === 'edit'){
                window.location.href="/assetinfo/edit?id="+data.Id
            } else if(obj.event === 'del'){
                acts = "删除";
                layer.confirm('真的'+acts+'【'+data.Title+'】合同么', function(index){
                    var jsData = {'id':data.Id}
                    $.post('{{urlfor "assetinfoController.Del"}}', jsData, function (out) {
                        if (out.status == 0) {
                             active.reload()
                            layer.alert("操作成功！", {icon: 1},function(index){
                                layer.close(index);
                            });
                        } else {
                            layer.msg(out.message)
                        }
                    }, "json");
                    // obj.del();
                    layer.close(index);
                })
            } else{
                layer.msg('操作不存在');
            }
        });

        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });

    var i=1000;

    function print() {
        console.log(treeGrid.cache[tableId]);
        var loadIndex=layer.msg("对象已打印，按F12，在控制台查看！", {
            time:3000
            ,offset: 'auto'//顶部
            ,shade: 0
        });
    }
</script>

